/* The navbar should always be at the top of the viewport.*/

#nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 290px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
}


/* Your product landing page should have at least one media query. */
@media (max-width: 600px) {
    #nav-bar {
        display: none;
    }
}

/*
Your product landing page should utilize CSS flexbox at least once. */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}



