#playing-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

}
.card {
    display: flex;
    justify-content: space-between;
    
}

.left {
    display: flex;
    align-self: flex-start;
    ;
}

.middle {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.right {
    display: flex;
    align-self: flex-end;
}
